<div class="mt-4 mb-2">
    <%= form_tag calendar_path, method: :get do %>
    <div class="d-flex gap-5">
        <% unless params.has_key?(:user_id) %>
            <%= select_tag :user_id, options_for_select(@users.map{|x| [x.to_s, x.id]}), {prompt: "User", onchange: "this.form.submit()", class:"form-select"} %>
            <%= select_tag :classroom_id, options_for_select(@classrooms.map{|x| [x.to_s, x.id]}), {prompt: "Classroom", onchange: "this.form.submit()", class:"form-select"} %>
            <%= select_tag :course_id, options_for_select(@courses.map{|x| [x.to_s, x.id]}), {prompt: "Course", onchange: "this.form.submit()", class:"form-select"} %>
        <% else %>  
            <%= select_tag :user_id, options_for_select(@users.map{|x| [x.to_s, x.id]}, params[:user_id]), {prompt: "User", onchange: "this.form.submit()", class:"form-select"} %>
            <%= select_tag :classroom_id, options_for_select(@classrooms.map{|x| [x.to_s, x.id]}, params[:classroom_id]), {prompt: "Classroom", onchange: "this.form.submit()", class:"form-select"} %>
            <%= select_tag :course_id, options_for_select(@courses.map{|x| [x.to_s, x.id]}, params[:course_id]), {prompt: "Course", onchange: "this.form.submit()", class:"form-select"} %>
            <%= link_to "Reset", calendar_path, class: "btn btn-sm btn-secondary" %>
        <% end %>
    </div>
    <% end %>
</div>

<%= render 'statics/calendar' %>
