<div class="mt-4 mb-2">
    <%= form_tag calendar_path, method: :get do %>
    <% unless params[:user_id].present? %>
        <%= select_tag :user_id, options_for_select(User.all.map{|x| [x.to_s, x.id]}), {prompt: "Filter By User", onchange: "this.form.submit()", class:"form-control"} %>
    <% else %>  
        <%= select_tag :user_id, options_for_select(User.all.map{|x| [x.to_s, x.id]}, params[:user_id]), {prompt: "User", onchange: "this.form.submit()", class:"form-control"} %>
        <%= link_to "Reset", calendar_path, class: "btn btn-sm btn-secondary my-2" %>
    <% end %>
    <% end %>
</div>

<%= render 'statics/calendar' %>
