<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-bodylight">
    <%= render "layouts/nav" %>

    <% if notice.present? %>
      <p class="notice p-3" style="background: green; border-radius: 0;"><%= notice %></p>
    <% elsif alert.present? %>
      <p class="alert p-3" style="background: red; border-radius: 0;"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
